{include file="public/header" /}
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>菜品编辑</strong></div>
        <div id="manager" class="mainBox" style="height:auto!important;">

            <form>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">套餐名称</td>
                        <td>
                            <input type="text" name="name" value="{$data.name}" size="40" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">所属分类</td>
                        <td>
                            {volist name="cats" id="c"}
                            <input type="checkbox" name="cats[]" value="{$c.ID}" {if condition="in_array($c['ID'],array_filter(explode(',',$data['cats'])))"}checked{/if}>{$c.Nm}
                            {/volist}
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">菜品选择</td>
                        <td>
                            {volist name="dishes" id="c"}
                            <input type="checkbox" name="dishes[]" value="{$c.ID}" {if condition="in_array($c['ID'],array_filter(explode(',',$data['dishes'])))"}checked{/if}>[{$c.Nm} {$c['Ns']/100}元]
                            {/volist}
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">套餐排序</td>
                        <td>
                            <input type="text" name="listorder" value="{$data.listorder|default=99}" size="10" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <!--上传图片-->
                        {include file="public/upload" tip="套餐图片"}
                    </tr>
                    <tr>
                        <td width="100" align="right">套餐售价</td>
                        <td>
                            <input type="text" name="price" value="{$data['price']}" size="10" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {if condition="$data['id']"}<input type="hidden" name="id" value="{$data.id}"/>{/if}
                            <span class="btn">提 交</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('combo/add')}";//form表单要提交的地址
</script>
</body>
</html>