{include file="public/header" /}

<div id="dcWrap">
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>大厅</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><span style="font-size:16px; float:right; line-height: 62px;">更新时间：<em id="update-time">{$update_time}</em> </span>大厅</h3>
            <div class="hall_list">
                <div class="dinner_table_status">
                  <div class="table_status-seating clearfix">
                        <h3><span class="seating">顾客下单</span></h3>
                        {if condition="$hall_seating"}
                            {volist name="hall_seating" id="item"}
                                <div class="table-item actionBtn" data-url="{:url('hall/order', ['id'=>$item.ID])}" data-id="{$item.ID}">
                                    {$item.Nm}[{$item.Ns}人座]
                                    <div style="text-align:center;">顾客下单</div>
                                </div>
                            {/volist}
                        {else /}
                            <div class="table-item none">
                                <p>无</p>
                            </div>
                        {/if}
                    </div>
                    <div class="table_status-paying clearfix">
                        <h3><span class="paying">打扫清台</span></h3>
                        {if condition="$hall_paying"}
                            {volist name="hall_paying" id="item"}
                                <div class="table-item actionBtn" data-url="{:url('hall/order', ['id'=>$item.ID])}">
                                    {$item.Nm}[{$item.Ns}人座]
                                    <div style="text-align:center;">结账完成</div>
                                </div>
                            {/volist}
                        {else /}
                            <div class="table-item">
                                <p>无</p>
                            </div>
                        {/if}
                    </div>
                    <div class="table_status-unmanned clearfix">
                        <h3><span class="unmanned">空桌待客</span></h3>
                        {if condition="$hall_unmanned"}
                            {volist name="hall_unmanned" id="item"}
                                <div class="table-item" data-url="{:url('hall/order', ['id'=>$item.ID])}">
                                    {$item.Nm}[{$item.Ns}人座]
                                    <div style="text-align:center;">空桌待客</div>
                                </div>
                            {/volist}
                        {else /}
                            <div class="table-item">
                                <p>无</p>
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div id="embed"></div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var interval;
    $(function() {
        poll();
        interval = setInterval(function() {
            poll();
        }, 10000);
    });

    $('.actionBtn').click(function(){
        clearInterval(interval);
        var url = $(this).data('url');
        layer.open({
            title: '餐桌订餐信息',
            type: 2,
            area: ['840px', '520px'],
            fixed: false, //不固定
            maxmin: true,
            content: url,
            cancel: function(index) {
                location.reload();
            }
        });
    });


    function poll() {
        $.get("{:url('hall/poll')}",function(data){
            if (data.status) {
                // setTableSeating($('.table_status-seating'), data.info);
                $('#embed').html('<embed src="__PUBLIC__/images/dingdong.wav" autostart="false" loop="false" hidden="true" id="embed">');
                layer.closeAll('iframe');
                layer.open({
                    type: 2,
                    title: '消息提醒',
                    shade: [0],
                    area: ['250px', '215px'],
                    offset: 'rb', //右下角弹出
                    anim: 2,
                    content: data.url,
                    cancel: function(index) {
                        location.reload();
                    }
                });
            }
            // 更新时间
            $('#update-time').text(data.time);
        }, "JSON");
    }

    function setTableSeating(element, table) {
        var html, url, temp = 0, index = 0;
        for (var i = 0; i < table.length; i++) {
            url = "{:url('hall/order', ['id'=>'replace'])}";
            url = url.replace('replace', table[i]['ID']);
            html = '<div class="table-item actionBtn" data-url="'+ url +'" data-id="'+ table[i]['ID'] +'">'+
                        table[i]['Nm'] +'[' + table[i]['Ns'] + '人座]'+
                    '<div style="text-align:center;">顾客下单</div>'+
                    '</div>';
            element.children('.table-item').each(function() {
                if ($(this).data('id') == table[i]['ID']) {
                    temp++;
                }
            });
            if (!temp) {
                element.append(html);
            }
        }
    }
</script>