{include file="public/header" /}
<div id="dcWrap">
    <!--包含公共模版-->
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere"><a href="{:url('index/index')}"> 管理中心</a><b>></b><strong>菜单设置</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a data-url="{:url('combo/edit1')}" onclick="cpbj(this);" class="actionBtn add">添加套餐</a><a data-url="{:url('dish/edit1')}" onclick="cpbj(this);" class="actionBtn add">添加菜品</a><a data-url="{:url('menu/edit1')}" onclick="flbj(this);" class="actionBtn add">添加分类</a>菜单设置</h3>

<!-- 菜单设置内容 -->
<div class="menu-box">
<div id="ds1la" style="float:left;width:150px;">
{volist name="cat" id="c"}
  <div id="ds1l{$i}" class="ds1la{if condition="$i==1"}2{else /}1{/if}" onclick="cplb({$c.ID},this);"><span class="ds1la3" data-url="{:url('menu/edit',['id'=>$c.ID])}" onclick="flbj(this);">编</span> <span class="del ds1la3" data-id="{$c.ID}">删</span> &nbsp;&nbsp;&nbsp;{$c.Nm} {if condition="$c.Nh"} H {/if}</div>
{/volist}
</div>
<div id="ds1lb" style="float: left; width: 1560px;">
{volist name="dishes" id="d"}
  <div class="ds1lb1" data-url="{:url('Dish/edit',['id'=>$d.ID])}" onclick="cpbj(this);">
    <div class="ds1lb2"><img src="{if condition="empty($d['pic'])"}__COMMON__/images/0.jpg{else /}{$d.pic}{/if}" width="60" height="60"></div>
    {$d.Nm}<br>
    售价：{$d['Ns']/100} 元</div>
{/volist}
{volist name="combo" id="d"}
  <div class="ds1lb1" data-url="{:url('combo/edit',['id'=>$d.id])}" onclick="cpbj(this);">
    <div class="ds1lb2"><img src="{if condition="empty($d['pic'])"}__COMMON__/images/0.jpg{else /}{$d.pic}{/if}" width="60" height="60"></div>
    {$d.name}[套]<br>
    售价：{$d['price']} 元</div>
{/volist}
</div>
</div>
    <!-- /菜单设置内容 -->

        </div>
    </div>

    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
var pw=parseInt(document.documentElement.clientWidth);
$('#ds1lb').css("width",pw-360+'px');
//分类编辑
function flbj(obj){
  var url = $(obj).data('url');
    layer.open({
        title: '编辑分类',
        type: 2,
        area: ['470px', '310px'],
        fixed: false, //不固定
        maxmin: true,
        content: url
      });
}
//菜品编辑
function cpbj(obj){
    var url = $(obj).data('url');
    layer.open({
        title: '编辑菜品',
        type: 2,
        area: ['640px', '450px'],
        fixed: false, //不固定
        maxmin: true,
        content: url
      });
  }
//菜品列表
function cplb(id,obj){
  var img = '__COMMON__/images/0.jpg';
  $(obj).siblings().attr('class','ds1la1');
  $(obj).attr('class','ds1la2');
  $.get('{:url('Menu/menus')}',{cid:id},function(a){
//console.log(a);
    var t=a.dishes.split('$');
    scd=[];
    for(var i=0;i<t.length;i++) scd.push(t[i].split('|'));
    var s='';
    for(var i=0;i<scd.length;i++){
      if(scd[i][0])
        s+='<div class="ds1lb1" data-url='+scd[i][8]+' onclick="cpbj(this);"><div class="ds1lb2"><img src="'+(scd[i][9]==''?img:decodeURIComponent(scd[i][9]))+'" width="60" height="60" /></div>'+scd[i][1]+(scd[i][7]=='1'?'[H]':'')+'<br />售价：'+scd[i][6]/100+' 元</div>';
    }
    var p=a.combo.split('$');
    com=[];
    for(var i=0;i<p.length;i++) com.push(p[i].split('|'));
    for(var i=0;i<com.length;i++){
      if(com[i][0])
        s+='<div class="ds1lb1" data-url='+com[i][5]+' onclick="cpbj(this);"><div class="ds1lb2"><img src="'+(com[i][3]==''?img:decodeURIComponent(com[i][3]))+'" width="60" height="60" /></div>'+com[i][1]+'<br />售价：'+com[i][4]+' 元</div>';
    }
    $('#ds1lb').html(s);
    $('#ds1lb').css("width",pw-360+'px');
  })
}
//删除单个
$(".del").click(function(){
  var id= $(this).data('id');
  confirms('警告','是否确认删除id为【'+ id +'】的分类？','',function(){
      $.get("{:url('menu/delete')}",{id:id},function(data){
          alertw(data);
      });
  });
})
</script>
</body>
</html>
