{include file="public/header" /}
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>分类编辑</strong></div>
        <div id="manager" class="mainBox" style="height:auto!important;">

            <form>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">分类名称</td>
                        <td>
                            <input type="text" name="Nm" value="{$data.Nm}" size="40" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">分类排序</td>
                        <td>
                            <input type="text" name="No" value="{$data.No}" size="10" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">是否隐藏</td>
                        <td>
                            <label for="islock">
                                <input type="radio" name="Nh" id="islock" value="0" {if condition="$data['Nh'] eq 0"} checked="true"{/if}>
                                否</label>
                            <label for="islock">
                                <input type="radio" name="Nh" id="islock" value="1" {if condition="$data['Nh'] eq 1"} checked="true"{/if}>
                                是</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {if condition="$data['ID']"}<input type="hidden" name="ID" value="{$data.ID}"/>{/if}
                            <span class="btn">提 交</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('menu/add')}";//form表单要提交的地址
</script>
</body>
</html>