{include file="public/header" /}
<style>

</style>

<div id="dcWrap">
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>统计列表</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3>数据统计</h3>

            <div class="items">
                <div id="day" class="statistical-items clearfix">
                    <form class="clearfix" action="{:url('statistical/index')}">
                        <input type="text" name="start" value="{$date['start']}" size="15" class="inpMain date-picker" />&nbsp;&nbsp;~&nbsp;
                        <input type="text" name="end" value="{$date['end']}" size="15" class="inpMain date-picker" />
                        <input type="hidden" name="type" value="default" />
                        <button class="btn form-pull" type="submit" style="margin-left: 15px;">统计</button>
                    </form>
                    <ul class="clearfix">
                        <li><a href="{:url('statistical/index', ['type'=>'today'])}" class="btn btn-success">日报</a></li>
                        <li><a href="{:url('statistical/index', ['type'=>'week'])}" class="btn btn-info">周报</a></li>
                        <li><a href="{:url('statistical/index', ['type'=>'mouth'])}" class="btn btn-warning">月报</a></li>
                        <li><a href="{:url('statistical/index', ['type'=>'year'])}" class="btn btn-danger">年报</a></li>
                    </ul>
                </div>
            </div>
            <!-- 统计表格 -->
            <div class="statistical clearfix">
                <div class="s-left">
                    <div class="col">
                        <div class="card-panel text-center">
                            <h4 class="h4-default">营业额 (元)</h4>
                            <div class="card-content">
                                <span class="percent">{$stat['revenue']}</span>
                                <ul class="clearfix">
                                    <li ><a href=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-panel text-center">
                            <h4 class="h4-blue">点单数 (个)</h4>
                            <div class="card-content">
                                <span class="percent">{$stat['oNum']}</span>
                                <ul class="clearfix">
                                    <li ><a href=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-panel text-center">
                            <h4 class="h4-orange">点菜数 (个)</h4>
                            <div class="card-content">
                                <span class="percent">{$stat['dNum']}</span>
                                <ul class="clearfix">
                                    <li ><a href="javascrtip:;"
                                            {neq name="$stat['dNum']" value="0" }class="actionBtn" data-url="{:url('statistical/dilog', ['type'=>'0', 'start' => $date['start'], 'end'=>$date['end']])}"{/neq}
                                    >查看图表</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-panel text-center">
                            <h4 class="h4-red">退菜数 (个)</h4>
                            <div class="card-content">
                                <span class="percent">{$stat['tdNum']}</span>
                                <ul class="clearfix">
                                    <li ><a href="javascrtip:;"
                                           {neq name="$stat['tdNum']" value="0" }class="actionBtn" data-url="{:url('statistical/dilog', ['type'=>'2', 'start' => $date['start'], 'end'=>$date['end']])}"{/neq}
                                    >查看图表</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="chartdiv" class="charts"></div>
                </div>
                <div class="s-right">
                    <div class="col col-long">
                        <div class="card-panel text-center">
                            <h4>畅销菜品</h4>
                            <div class="card-content">
                                {if condition="$stat['sells']"}
                                <table width="100%" border="0" cellpadding="8" cellspacing="0">
                                    {volist name="stat.sells" id="vo"}
                                    <tr>
                                        <td>{$vo['Cn']}</td>
                                        <td>{$vo['num']} (份)</td>
                                    </tr>
                                    {/volist}
                                </table>
                                <ul class="clearfix">
                                    <li ><a href="javascrtip:;"
                                            class="actionBtn" data-url="{:url('statistical/dilog', ['type'=>'0', 'start' => $date['start'], 'end'=>$date['end']])}"
                                    >查看图表</a></li>
                                </ul>
                                {else/}
                                    <p style="height: 370px">暂无</p>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $.datetimepicker.setLocale('ch');//设置中文
    $(".date-picker").datetimepicker({
        format:"Y-m-d",      //格式化日期
        timepicker:false,    //关闭时间选项
    });
    $('.actionBtn').click(function(){
        var url = $(this).data('url');
        layer.open({
            title: '统计图表',
            type: 2,
            area: ['840px', '520px'],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
    });
</script>
<script src="__PUBLIC__/js/amcharts/amcharts.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/amcharts/serial.js" type="text/javascript"></script>
<script type="text/javascript">
    // 营业额折线图
    var chardata = {$jsonOrder};
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "equalWidths": false,
            "useGraphSettings": true,
            "valueAlign": "left",
            "valueWidth": 120
        },
        "autoMarginOffset": 20,
        "mouseWheelZoomEnabled":true,
        "dataProvider": chardata,
        "valueAxes": [{
            "id": "distanceAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "position": "left",
            "title": "营业额"
        }, {
            "id": "latitudeAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "labelsEnabled": false,
            "position": "right"
        }, {
            "id": "durationAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "inside": true,
            "position": "right",
            "title": "数量"
        }],
        "dataDateFormat": "YYYY-MM-DD",
        "graphs": [{
            "alphaField": "alpha",
            "balloonText": "营业额：[[value]] 元",
            "dashLengthField": "dashLength",
            "fillAlphas": 0.7,
            "legendPeriodValueText": "[[value.sum]] 元",
            "legendValueText": "[[value]] 元",
            "title": "营业额",
            "type": "column",
            "valueField": "revenue",
            "valueAxis": "distanceAxis"
        }, {
            "balloonText": "点单数: [[value]]",
            "bullet": "round",
            "bulletBorderAlpha": 1,
            "useLineColorForBulletBorder": true,
            "bulletColor": "#FFFFFF",
            "bulletSizeField": "townSize",
            "dashLengthField": "dashLength",
            "descriptionField": "townName",
            "labelPosition": "right",
            "labelText": "[[townName2]]",
            "legendValueText": "[[value]]",
            "title": "点单数",
            "fillAlphas": 0,
            "valueField": "oNum",
            "valueAxis": "latitudeAxis"
        }, {
            "bullet": "square",
            "balloonText": "点菜数: [[value]]",
            "bulletBorderAlpha": 1,
            "bulletBorderThickness": 1,
            "dashLengthField": "dashLength",
            "legendValueText": "[[value]]",
            "title": "点菜数",
            "fillAlphas": 0,
            "valueField": "dNum",
            "valueAxis": "durationAxis"
        }],
        "chartCursor": {
            "cursorAlpha": 0.1,
            "cursorColor":"#000000",
            "fullWidth":true,
            "valueBalloonsEnabled": false,
            "zoomable": false
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#555555",
            "gridAlpha": 0.1,
            "gridColor": "#FFFFFF",
            "gridCount": 50
        },
        "export": {
            "enabled": true
        }
    });
</script>